.profileImage {
    height: 74px;
    width: 81px;
    background: #93B4BC;
    align-content: center;
    border: 30px;
    >img {
        height: 40px;
        width: 40px;
        border-radius: 30px;
    }
}